* {
  box-sizing: border-box;
}

#landing {
  height: 100vh;
  margin-bottom: 0px;
}

.row > span {
  position: relative;
  display: block;
  top: -50px;
}

h3 {
  margin-left: 0;
  padding: 0;
}

textarea {
  resize: none;
}

.img-thumbnail {
  margin: 10x 5px 10px 5px;
}

footer p {
  padding: 15px;
}

.contact-info {
  width: 300px;
}

.contact-info ul {
  list-style-type: none;
  float: left;
  padding-right: 0;
  padding-left: 0;
}

.contact-info li {
  margin-top: 10px;
}

.row {
  margin-left: 10px;
}

.navbar {
  margin: 0;
}

.hidden {
  display: none;
}

#email {
  width: 50%;
}

.btn-lg {
  position: relative;
  margin-top: 15px;
  box-shadow: 4px 4px;
}

.btn-lg:hover {
  top: 2px;
  left: 2px;
  box-shadow: 2px 2px;
}

.btn-lg:active {
  box-shadow: none;
  top: 4px;
  left: 4px;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: none;
}

.btn-default:focus {
  background-color: white;
  border-color: #cccccc;
}

#abtme {
  margin-top: 0;
}

.navbar {
  position: fixed;
  width: 100%;
  z-index: 2;
}
